main {
  .new-task {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    li {
      position: relative;
      margin-bottom: .5rem;
      display: flex;
      justify-content: center;

      app-task-card {
        display: flex;
        justify-content: center;
      }
    }

    input {
      margin-right: 1rem;
    }

  }

  .mat-card {
    margin: 1rem;
  }

  .loader {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
}

.done {
  text-decoration: line-through;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
