.mat-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: space-between;

  .mat-checkbox {
    margin: auto 0.3rem;
  }

  .mat-card-content {
    font-size: 1.2rem
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;

    .mat-form-field {
      width: 100%;
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 1rem;

    button {
      transition: .3s all;
      cursor: pointer;

      .rotate {
        transform: rotate(180deg);
      }

      &:hover {
        background: darken(black, 20%);
      }
    }
  }
}

.strike {
  text-decoration: line-through;
}

.invisible {
  display: none;
}
