<mat-card>
  <mat-checkbox (click)="strike()">Выполнено</mat-checkbox>
  <form (ngSubmit)="submitTask()" [formGroup]="form">
    <div class="text-wrapper">
      <mat-card-title [ngClass]="{strike: made}">{{task.note}}</mat-card-title>
      <div *ngIf="change">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Изменить задачу" value="" formControlName="title">
        </mat-form-field>
      </div>
      <mat-card-content [ngClass]="{strike: made}">{{task.date | date: "medium"}}</mat-card-content>
      <div *ngIf="change">
        <mat-form-field class="example-full-width">
          <input matInput type="datetime-local" formControlName="date">
        </mat-form-field>
      </div>
    </div>
    <button *ngIf="change" mat-raised-button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">
      Изменить</button>
  </form>
  <div class="buttons-wrapper">
    <button mat-mini-fab color="warn" (click)="removeTask(task)"><i class="material-icons">
        delete_sweep
      </i></button>
    <button mat-mini-fab color="primary" (click)="changeTask(this.change)" [ngClass]="{invisible: made}">
      <i class="material-icons" *ngIf="!change">
        keyboard_arrow_down
      </i>
      <i class="material-icons" *ngIf="change">
        keyboard_arrow_up
      </i>
    </button>
  </div>

</mat-card>
