<mat-card>
  <div class="button-wrapper">
    <button mat-mini-fab color="primary" (click)="createTask(this.create)" [ngClass]="{invisible: made}">
      <i class="material-icons" *ngIf="!create">
        keyboard_arrow_up
      </i>
      <i class="material-icons" *ngIf="create">
        keyboard_arrow_down
      </i>
    </button>
  </div>
  <div *ngIf="create">
    <form (ngSubmit)="submitTask()" [formGroup]="form" class="form-wrapper">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="What you need to do" value="" formControlName="title">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput type="datetime-local" formControlName="date">
      </mat-form-field>
      <button mat-raised-button color="primary" type=" submit" [disabled]="form.invalid"> Add</button>
    </form>
  </div>
</mat-card>
